@use "sass:color";
@use "vars";

.headline,
h1 {
  font-size: 64px;
  line-height: 1.05;
  background: linear-gradient(
    20deg,
    var(--color-hero-gradient-1) 10%,
    var(--color-hero-gradient-2) 90%
  );
  -webkit-background-clip: text;
  margin: 24px 12px 12px;
}
h2.headline {
  font-size: 26px;
  margin: 62px 12px 12px;
  background: none;
  text-transform: uppercase;
  font-weight: 400;
}

.headline small,
h1 small {
  font-size: 18px;
  font-weight: normal;
  display: block;
  color: var(--color-white-90);
  max-width: 661px;
  margin: 21px auto 34px;
  line-height: 1.2;
}
h2.headline small {
  font-size: 16px;
  margin: 12px auto;
}
@media (max-width: 768px) {
  .headline,
  h1 {
    font-size: 36px;
    margin: 62px 12px 12px;
  }
  h2 {
    font-size: 20px;
  }
  .headline small,
  h1 small {
    font-size: 28px;
  }
}
h3 {
  margin: 0;
  color: var(--color-primary);
}
p {
  margin-left: 15px;
  margin-right: 15px;
}

.inner-wrap {
  margin: auto;
  max-width: 1024px;
}

.hero-boxes {
  margin: 72px 0 122px;
  display: flex;
}
.hero-box {
  width: 50%;
  border-radius: 21px;
  padding: 12px;
  margin: 12px;
  color: var(--color-text);
  background: var(--color-black-30);
  border: 1px solid var(--color-white-10);
}
.hero-box img {
  width: 36px;
}
@media (max-width: 768px) {
  .hero-boxes {
    display: block;
  }
  .hero-box {
    width: auto;
  }
}

#numbers {
  display: flex;
  justify-content: space-between;
  margin: 50px 0 122px;
  padding: 0 42px;
}

@media (max-width: 768px) {
  #numbers {
    display: block;
  }
}
.number-label {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.number-label:hover {
  text-decoration: underline;
}

.number-label a {
  background: transparent;
}
.number {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 16px;
}
.number small {
  font-size: 16px;
  display: block;
  font-weight: normal;
  color: var(--color-primary);
}

#create-overlay.glow {
  transition: all 0.8s ease-in-out;
  overflow: hidden;
  opacity: 0.8;
}
#create-overlay.glow:hover {
  transition: all 0.8s ease-in-out;
  opacity: 1;
}
#create-overlay.glow .frame {
  transition: all 0.8s ease-in-out;
  box-shadow: 0 0 0 var(--color-primary-glow);
}

@media (min-width: 488px) {
  #create-overlay.glow .frame {
    box-shadow: 0 0 40px var(--color-primary-glow);
  }
  #create-overlay.glow .frame:hover {
    box-shadow: 0 0 60px var(--color-primary-glow);
  }
}
