# Simple workflow for deploying static content to GitHub Pages
name: Deploy main

on:
  # Runs on pushes and PRs targeting the main branch
  push:
    branches: ['main']
  pull_request:
    branches: ['main']
  # Allows to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets the GITHUB_TOKEN permissions to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write
  attestations: write

# Allow one concurrent deployment
concurrency:
  group: 'pages'
  cancel-in-progress: true

jobs:
  # Deploy mainnet
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      - name: Setup mainnet
        run: npm run mainnet

      - name: Build
        env:
          DEFAULT_FUND: ${{ secrets.DEFAULT_FUND }}
        run: npm run build

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Attest build provenance
        uses: actions/attest-build-provenance@v1
        with:
          subject-path: '${{ github.workspace }}/dist'

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # Upload dist folder
          path: './dist'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4